[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "themes/resume"]
	path = themes/resume
	url = git@github.com:emilkje/hugo-resume-theme.git
